table {
	padding-left: 1.2em;
	font-size: 5em:
}
td.eventid {
	text-align: right;
	width: 1.7em;
	padding-right: 0.5em;
}

td.etitle {
	font-size: smaller;
	padding-right: 15px;
}

.ui-li .ui-btn-inner a.ui-link-inherit {
	margin-left: -30px;
	padding: 0 0 0 15px;
}

.ui-icon-arrow-r {
	display: none;
}

div.ui-input-search {
  position: fixed;
  right: 0;
  bottom: 0;
  z-Index: 9999;
}
ul.ui-listview {
        padding-bottom: 3em;
}

.ui-content .ui-listview {
	margin-top: -30px;
}

